node_modules/
.DS_Store
dist/
.env
.env.*
!.env.example

# Windows reserved device-name artifacts
[Nn][Uu][Ll]
[Nn][Uu][Ll].*
[Cc][Oo][Nn]
[Cc][Oo][Nn].*
[Pp][Rr][Nn]
[Pp][Rr][Nn].*
[Aa][Uu][Xx]
[Aa][Uu][Xx].*
[Cc][Oo][Mm][1-9]
[Cc][Oo][Mm][1-9].*
[Ll][Pp][Tt][1-9]
[Ll][Pp][Tt][1-9].*
